<div class="w-screen h-full flex items-center justify-center">
  <form (ngSubmit)="$event.preventDefault(); getMoviesViaTitle()">
    <div class="flex gap-2 p-2">
      <input
        type="text"
        class="shadow rounded outline-none focus:ring-2 focus:ring-blue-400 p-2"
        [formControl]="title"
        placeholder="Search for with title"
      />
      <button class="p-2 bg-blue-400 rounded shadow" type="submit">
        Search
      </button>
    </div>
  </form>
  <movie-list [movies]="movies"></movie-list>
</div>
