<div
  class="w-full h-full flex flex-col items-start justify-center min-h-[30vh] bg-white font-sans rounded shadow-md cursor-pointer hover:scale-105 transition-all ease-in-out"
  (click)="navigateToDetails()"
>
  <h4 class="text-2xl p-2 flex w-full items-center justify-center">
    {{ dto.title }}
  </h4>
  @if (dto.poster) {
    <img [src]="dto.poster" alt="Movie Poster" />
  }
  <ol class="list-disc pl-8">
    @if (dto.imdbRating) {
      <li>IMDB Rating: {{ dto.imdbRating }}</li>
    }
    @if (dto.episode) {
      <li>Episode: {{ dto.episode }}</li>
    }
    @if (dto.totalSeasons) {
      <li>Total Seasons: {{ dto.totalSeasons }}</li>
    }
    @if (dto.season) {
      <li>Season: {{ dto.season }}</li>
    }
    @if (dto.released) {
      <li>Released: {{ dto.released | date: "short" }}</li>
    }
  </ol>
</div>
