<div class="grid grid-cols-4 items-center justify-center gap-2">
  @if (movie) {
    <movie-card
      [dto]="{
        title: movie.Title,
        released: movie.Released,
        imdbRating: movie.imdbRating,
        poster: movie.Poster,
        imdbID: movie.imdbID
      }"
    ></movie-card>
  }
  @if (series) {
    <movie-card
      [dto]="{
        title: series.Title,
        totalSeasons: series.totalSeasons
      }"
    ></movie-card>
    @for (episode of series.Episodes; track $index) {
      <movie-card
        [dto]="{
          title: episode.Title,
          episode: episode.Episode,
          released: episode.Released,
          imdbRating: episode.imdbRating,
          imdbID: episode.imdbID
        }"
      ></movie-card>
    }
  }
</div>
